.home {
  background-color: #d4d3d39f;
  padding-bottom: 4rem;
}

.home__image {
  margin-bottom: -4rem;
  background: url('../../assets/igor-miske-Px3iBXV-4TU-unsplash.jpg') no-repeat
    center 30%;
  background-size: cover;
  height: 50vh;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__container {
  display: grid;
  gap: 3rem;
}

.home__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.home__row:not(:first-child) {
  margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
  .home__row {
    flex-wrap: nowrap;
  }
}
