.checkout__empty-cart {
  margin-top: 2rem;
  text-align: center;
}

.checkout__box {
  margin-bottom: 4rem;
  display: grid;
  gap: 2rem;
}

.checkout__cart-items {
  margin-top: 4rem;
}

.checkout__info {
  max-width: 500px;
  padding: 2rem;
  background-color: #f1f1f0;
  border: 1px solid #0000001a;
}

.checkout__info p {
  margin: 0;
}

.checkout__info > button {
  margin-top: 1.5rem;
  border-radius: 0;
}

.checkout__gift {
  display: flex;
  gap: 1rem;
}

.checkout__gift > input {
  margin: 0;
}

.checkout__products-container {
  margin-top: 3rem;
}

@media only screen and (min-width: 800px) {
  .checkout__box {
    grid-template-columns: 1fr 1fr;
  }

  .checkout__info > button {
    padding: 1rem;
  }

  .checkout__products-container {
    margin: 0;
  }
}
