button {
  padding: 1rem 2rem;
  font-weight: bold;
  color: hsl(51, 61%, 18%);
  background-color: hsl(50, 100%, 54%);
  display: inline-block;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
