.form-container {
  border-radius: 0.25rem;
  box-shadow: 0 0px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 2.5rem;
}

.form-container > h1 {
  font-weight: 600;
}

.error {
  color: #ff0000bd;
}

.form-container button {
  border-radius: 0;
}

form > p {
  margin-bottom: 0rem;
}
