.product-card {
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 1;
}

.product-card__info {
  justify-self: start;
}

.product-card__title {
  font-weight: 400;
  width: 100%;
  max-width: 80%;
}

.product-card__price strong {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-card__price small {
  font-weight: 400;
}

.product-card__info > p {
  margin: 0;
}

.product-card__filled-star {
  color: #ebc90e;
}

.product-card__image {
  margin-top: 1rem;
  width: 9rem;
}

.bigItem {
  width: 40%;
}

.product-card__button {
  margin-top: 2rem;
}
