.not-found {
    display: grid;
    place-content: center;
    height: 93vh;
    background-color: #f7f7f7;
}

.not-found>h1 {
    margin-top: 0;
    font-size: 4rem;
}

.not-found__link {
    margin-left: auto;
    padding: 1rem;
    border: 1px solid #0000004b;
    border-radius: 19px;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    background-color: #e6be3d;
}

@media only screen and (min-width: 800px) {
    .not-found>h1 {
        font-size: 5rem;
    }
}