.checkout-card {
  display: grid;
  gap: 2rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 2rem;
  text-align: center;
}

.checkout-card__title {
  font-weight: 500;
}

.checkout-card__image {
  width: 9rem;
  margin: 0 auto;
}

.checkout-card__price {
  font-weight: 600;
}

.checkout-card__product-info > p {
  margin: 0;
  font-size: 1.8rem;
}

.checkout-card__quantity {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.symbol {
  font-weight: bold;
  cursor: pointer;
}

.checkout-card .checkout-card__button {
  padding: 1rem;
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .checkout-card {
    grid-template-columns: 150px 1fr;
    align-items: center;
    text-align: start;
  }

  .checkout-card__quantity {
    justify-content: flex-start;
  }
}
