.container {
    display: grid;
    place-content: center;
    row-gap: 2rem;
    height: 90vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container__logo {
    color: #ff9f00;
}

.logo-container > h2 {
    margin: 0;
}






